In [3]:
# !kaggle competitions download -c talkingdata-adtracking-fraud-detection

In [4]:
# import zipfile
# import os

# zip_path = r"C:/Users/hp/Documents/AdTrackingFruadDetection/src/notebooks/talkingdata-adtracking-fraud-detection.zip"
# extract_path = r"C:/Users/hp/Documents/AdTrackingFruadDetection/data"

# # Create folder if it doesn’t exist
# os.makedirs(extract_path, exist_ok=True)

# # Extract the ZIP
# with zipfile.ZipFile(zip_path, 'r') as zip_ref:
#     zip_ref.extractall(extract_path)

# print("✅ Extraction completed!")

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\hp\Documents\AdTrackingFruadDetection\data\train_sample.csv')

In [7]:
df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [9]:
df['ip'].value_counts()

ip
5348      669
5314      616
73487     439
73516     399
53454     280
         ...
94895       1
251613      1
3730        1
156154      1
32684       1
Name: count, Length: 34857, dtype: int64

In [10]:
df['app'].value_counts()

app
3      18279
12     13198
2      11737
9       8992
15      8595
       ...
407        1
116        1
92         1
115        1
261        1
Name: count, Length: 161, dtype: int64

In [11]:
df['device'].value_counts()

device
1       94338
2        4345
0         541
3032      371
3543      151
        ...
928         1
220         1
49          1
1042        1
241         1
Name: count, Length: 100, dtype: int64

In [12]:
df['os'].value_counts()

os
19     23870
13     21223
17      5232
18      4830
22      4039
       ...
174        1
207        1
114        1
185        1
193        1
Name: count, Length: 130, dtype: int64

In [13]:
df['channel'].value_counts()

channel
280    8114
245    4802
107    4543
477    3960
134    3224
       ...
114       1
474       1
261       1
465       1
4         1
Name: count, Length: 161, dtype: int64

In [14]:
df['click_time'].value_counts()

click_time
2017-11-08 12:01:02    7
2017-11-07 05:00:11    6
2017-11-08 13:32:05    6
2017-11-09 14:46:23    6
2017-11-07 04:36:16    6
                      ..
2017-11-08 14:46:16    1
2017-11-09 10:24:23    1
2017-11-07 05:03:14    1
2017-11-08 08:14:37    1
2017-11-08 09:35:17    1
Name: count, Length: 80350, dtype: int64

In [15]:
df['attributed_time'].value_counts()

attributed_time
2017-11-08 02:22:38    1
2017-11-08 06:10:37    1
2017-11-07 11:59:05    1
2017-11-09 11:52:01    1
2017-11-08 01:55:02    1
                      ..
2017-11-09 09:24:31    1
2017-11-09 11:20:15    1
2017-11-08 14:58:38    1
2017-11-08 15:37:58    1
2017-11-08 15:09:40    1
Name: count, Length: 227, dtype: int64

In [16]:
df['is_attributed'].value_counts()/len(df)*100

is_attributed
0    99.773
1     0.227
Name: count, dtype: float64

In [17]:
df['click_time'].value_counts()

click_time
2017-11-08 12:01:02    7
2017-11-07 05:00:11    6
2017-11-08 13:32:05    6
2017-11-09 14:46:23    6
2017-11-07 04:36:16    6
                      ..
2017-11-08 14:46:16    1
2017-11-09 10:24:23    1
2017-11-07 05:03:14    1
2017-11-08 08:14:37    1
2017-11-08 09:35:17    1
Name: count, Length: 80350, dtype: int64

In [18]:
df['click_time'] = pd.to_datetime(df['click_time'])

In [19]:
df['click_time_year'] = df['click_time'].dt.year
df['click_time_month'] = df['click_time'].dt.month
df['click_time_day'] = df['click_time'].dt.day
df['click_time_hour'] = df['click_time'].dt.hour
df['click_time_minute'] = df['click_time'].dt.minute
df['click_time_second'] = df['click_time'].dt.second

In [20]:
df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,click_time_year,click_time_month,click_time_day,click_time_hour,click_time_minute,click_time_second
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,2017,11,7,9,30,38
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,2017,11,7,13,40,27
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,2017,11,7,18,5,24
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,2017,11,7,4,58,8
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,2017,11,9,9,0,9

In [21]:
df['attributed_time']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
99995    NaN
99996    NaN
99997    NaN
99998    NaN
99999    NaN
Name: attributed_time, Length: 100000, dtype: object

In [22]:
df.drop('attributed_time',axis=1,inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ip                 100000 non-null  int64
 1   app                100000 non-null  int64
 2   device             100000 non-null  int64
 3   os                 100000 non-null  int64
 4   channel            100000 non-null  int64
 5   click_time         100000 non-null  datetime64[ns]
 6   is_attributed      100000 non-null  int64
 7   click_time_year    100000 non-null  int32
 8   click_time_month   100000 non-null  int32
 9   click_time_day     100000 non-null  int32
 10  click_time_hour    100000 non-null  int32
 11  click_time_minute  100000 non-null  int32
 12  click_time_second  100000 non-null  int32
dtypes: datetime64[ns](1), int32(6), int64(6)
memory usage: 7.6 MB

In [24]:
df['ip_count']=df.groupby('ip')['channel'].transform('count')

In [25]:
df.head()

,ip,app,device,os,channel,click_time,is_attributed,click_time_year,click_time_month,click_time_day,click_time_hour,click_time_minute,click_time_second,ip_count
0,87540,12,1,13,497,2017-11-07 09:30:38,0,2017,11,7,9,30,38,8
1,105560,25,1,17,259,2017-11-07 13:40:27,0,2017,11,7,13,40,27,149
2,101424,12,1,19,212,2017-11-07 18:05:24,0,2017,11,7,18,5,24,2
3,94584,13,1,13,477,2017-11-07 04:58:08,0,2017,11,7,4,58,8,3
4,68413,12,1,1,178,2017-11-09 09:00:09,0,2017,11,9,9,0,9,4

In [26]:
df['channel_app_count'] = df.groupby('app')['channel'].transform('count')
df['channel_device_count']  = df.groupby('device')['channel'].transform('count')
df['channel_os_count'] = df.groupby('os')['channel'].transform('count')

In [27]:
df['ip_app_unique'] = df.groupby('ip')['app'].transform('nunique')
df['ip_device_unique'] = df.groupby('ip')['device'].transform('nunique')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ip                    100000 non-null  int64
 1   app                   100000 non-null  int64
 2   device                100000 non-null  int64
 3   os                    100000 non-null  int64
 4   channel               100000 non-null  int64
 5   click_time            100000 non-null  datetime64[ns]
 6   is_attributed         100000 non-null  int64
 7   click_time_year       100000 non-null  int32
 8   click_time_month      100000 non-null  int32
 9   click_time_day        100000 non-null  int32
 10  click_time_hour       100000 non-null  int32
 11  click_time_minute     100000 non-null  int32
 12  click_time_second     100000 non-null  int32
 13  ip_count              100000 non-null  int64
 14  channel_app_count     100000 non-null  int64
 15  channel_device_count  100000 non-null  int64
 16  channel_os_count      100000 non-null  int64
 17  ip_app_unique         100000 non-null  int64
 18  ip_device_unique      100000 non-null  int64
dtypes: datetime64[ns](1), int32(6), int64(12)
memory usage: 12.2 MB

In [29]:
df.drop('click_time',axis=1,inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ip                    100000 non-null  int64
 1   app                   100000 non-null  int64
 2   device                100000 non-null  int64
 3   os                    100000 non-null  int64
 4   channel               100000 non-null  int64
 5   is_attributed         100000 non-null  int64
 6   click_time_year       100000 non-null  int32
 7   click_time_month      100000 non-null  int32
 8   click_time_day        100000 non-null  int32
 9   click_time_hour       100000 non-null  int32
 10  click_time_minute     100000 non-null  int32
 11  click_time_second     100000 non-null  int32
 12  ip_count              100000 non-null  int64
 13  channel_app_count     100000 non-null  int64
 14  channel_device_count  100000 non-null  int64
 15  channel_os_count      100000 non-null  int64
 16  ip_app_unique         100000 non-null  int64
 17  ip_device_unique      100000 non-null  int64
dtypes: int32(6), int64(12)
memory usage: 11.4 MB

In [31]:
df['channel_os_count'].value_counts(normalize=True)

channel_os_count
23870    0.23870
21223    0.21223
5232     0.05232
4830     0.04830
4039     0.04039
          ...
14       0.00014
12       0.00012
9        0.00009
7        0.00007
6        0.00006
Name: proportion, Length: 73, dtype: float64

In [32]:
for col in ['ip', 'app', 'device', 'os', 'channel']:
    freq = df[col].value_counts(normalize=True)
    df[col + '_freq'] = df[col].map(freq)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ip                    100000 non-null  int64
 1   app                   100000 non-null  int64
 2   device                100000 non-null  int64
 3   os                    100000 non-null  int64
 4   channel               100000 non-null  int64
 5   is_attributed         100000 non-null  int64
 6   click_time_year       100000 non-null  int32
 7   click_time_month      100000 non-null  int32
 8   click_time_day        100000 non-null  int32
 9   click_time_hour       100000 non-null  int32
 10  click_time_minute     100000 non-null  int32
 11  click_time_second     100000 non-null  int32
 12  ip_count              100000 non-null  int64
 13  channel_app_count     100000 non-null  int64
 14  channel_device_count  100000 non-null  int64
 15  channel_os_count      100000 non-null  int64
 16  ip_app_unique         100000 non-null  int64
 17  ip_device_unique      100000 non-null  int64
 18  ip_freq               100000 non-null  float64
 19  app_freq              100000 non-null  float64
 20  device_freq           100000 non-null  float64
 21  os_freq               100000 non-null  float64
 22  channel_freq          100000 non-null  float64
dtypes: float64(5), int32(6), int64(12)
memory usage: 15.3 MB

In [34]:
df['click_time'] = pd.to_datetime(
        df['click_time_year'].astype(str) + "-" +
        df['click_time_month'].astype(str) + "-" +
        df['click_time_day'].astype(str) + " " +
        df['click_time_hour'].astype(str) + ":" +
        df['click_time_minute'].astype(str) + ":" +
        df['click_time_second'].astype(str)
    )

In [35]:
df['day_of_week'] = df['click_time'].dt.dayofweek

In [36]:
df['is_weekend']=df['day_of_week'].isin([5,6]).astype(int)

In [37]:
df['part_of_day'] = pd.cut(
    df['click_time_hour'],
    bins=[-1,6,12,18,24],
    labels=['night','morning','afternoon','evening']
)

In [38]:
df = df.sort_values(['ip','click_time'])

In [39]:
df['time_since_last_click'] = (
    df.groupby('ip')['click_time']
    .diff().dt.total_seconds()
    .fillna(-1)
)

In [40]:
df['ip_app_count'] = df.groupby(['ip','app'])['channel'].transform('count')
df['ip_channel_count'] = df.groupby(['ip','channel'])['app'].transform('count')
df['app_channel_count'] = df.groupby(['app','channel'])['ip'].transform('count')

In [41]:
df['ip_click_count'] = df.groupby('ip')['channel'].transform('count')
df['app_click_count'] = df.groupby('app')['channel'].transform('count')

In [42]:
df['ip_app_ratio'] = df['ip_app_unique']/(df['ip_click_count']+1e-6)

In [43]:
df['ip_device_ratio'] = df['ip_device_unique']/(df['ip_click_count']+1e-6)

In [44]:
df['ip_vs_app_click'] = df['ip_click_count']/(df['app_click_count']+1e-6)

In [45]:
def rolling_count(g):
    g = g.set_index('click_time')
    return g.rolling('60s').count()['ip'].reset_index(drop=True)

In [ ]:
df['rolling_clicks_1min'] = (
    df.groupby('ip',group_keys=False)
    .apply(rolling_count)
    .reset_index(drop=True)
)